force-app/main/default/flows/Scrape_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ApptoBuyer</name>
        <label>ApptoBuyer</label>
        <locationX>316</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>AppRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Buyer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBuyer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EmailCheck</name>
        <label>EmailCheck</label>
        <locationX>635</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>BuyerHasEmail</defaultConnectorLabel>
        <rules>
            <name>BuyerDoesntHaveEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBuyer.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEmail</targetReference>
            </connector>
            <label>BuyerDoesntHaveEmail</label>
        </rules>
    </decisions>
    <interviewLabel>Scrape Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scrape Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBuyer</name>
        <label>GetBuyer</label>
        <locationX>471</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppRelation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Buyer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEmail</name>
        <label>UpdateEmail</label>
        <locationX>643</locationX>
        <locationY>591</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppRelation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>AppEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Buyer__c</object>
    </recordUpdates>
    <start>
        <locationX>190</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>ApptoBuyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AppEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AppRelation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
